.travel-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    img {
        border-radius: 4px;
    }

    p {
        margin: 4px ;
    }

    .card-travel {
        width: 90%;
    }
}