.card-travel {
    border: 1px solid rgb(212, 116, 0);
    border-radius: 8px;
    padding: 6px;
    background-color: bisque;
    color: black;

    img {

        object-fit: cover;
        width: 20%;
    }
}